body{ background-color: darkgreen; }
#band{ background-color: white; 
height: 500px; 
width: 20%;
  margin-left:200px;
float:left}
#sports{ background-color: white; 
height: 500px; 
width: 20%;
  float:right;
margin-right:200px;}

h1{
font-family:droid sans mono;
margin-left:100px;}