body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #C9E3AC;
}

h1 {
  color: #011936;
}

a {
  text-decoration: none;
  color: #575366;
}

a:visited {
  color: #575366;
}

a:hover {
  color: #922D50;
  font-weight: 600;
}

li {
  margin: 10px;
}

img {
  width: 300px;
  position: absolute;
  top: -10px;
  right: 0px;
}