#Drinks {
    float: left;
height:400px;
width:300px;
}
#Snacks {
  float: left;
 height:400px;
 width:600px;
}

h3 {
  margin-bottom: 10px;
}

p { 
  margin:10px;
  word-spacing:0;

}
ul {
  margin:-5px;
} 
#floof {
margin-top:100px;
}
img {
  position :relative;
  width: 50%;
}

