body {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

#clockbox {
  color: white;
  position: absolute;
  top: 10px;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-radius: 39px;
}

li {
  display: inline-block;
  color: green;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  vertical-align: top;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 44px;
  margin-bottom: 0px;
}

p {
  font-size: 35px;
  text-align: center;
  margin-top: 15px;
}

ul.categories li {
  width: 25%;
  display: inline-block;
}

#GWC img {
  width: 175px;
  position: absolute;
  top: -12px;
  right: 0px;
}

ul.items li {
  display: block;
}

#RocketGear {
  display: inline-block;
  width: 100%;
  text-align: center
}

#clothing img {
  width: 270px;
  position: absolute;
  top: 293px;
  right: 46px;
  transform: rotate(25deg);
  border-radius: 10px;
}

#clothing2 img {
  width: 231px;
  position: absolute;
  top: 250px;
  left: 38px;
  border-radius: 10px;
}