body {
  background-color: #161616;
  font-family: Arial, Helvetica, sans-serif;
}

p,
ul,
h1,
#clockbox {
  color: #83DB00;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 39px;
  padding-bottom: 5px;
}

ul.lunch li,
.everyday li {
  width: 100%;
  padding: 7px 0;
}

li {
  float: left;
  display: block;
  color: green;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  width: 16%;
  font-size: 15px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
}

p {
  font-size: 35px;
  text-align: center;
  margin-top: 15px;
}

img {
  width: 140px;
  position: absolute;
  top: -10px;
  right: 0px;
}

h3 {
  text-align: center;
  width: 100%;
  text-decoration: underline;
  font-size: 18px;
  margin-top: 10px;
}

.everyday {
  background-color: white;
  border-radius: 39px;
  margin-top: 15px;
  padding-bottom: 10px;
}

.everyday h3 {
  color: green;
  padding-top: 10px;
}

#rockets img {
  position: relative;
  top: -150px;
  width: 235px;
}