body {
  background-color: #B0E0E8;
  font-family: Arial, Helvetica, sans-serif;
}

.location {
  text-align: center
}

#forecast li {
  display: inline-block;
  padding: 10px;
}

h3 {
  font-size: 20px;
}

#days li {
  font-size: 17px;
}

#satellite {
  position: absolute;
  bottom: 40px;
  right: 20px;
}

#girls-who-code {
  position: absolute;
  width: 175px;
  top: -10px;
  right: -5px;
}

#clockbox {
  position: absolute;
  bottom: 40px;
  font-size: 15px;
  left: 15px;
}